.icons {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--space-m);
  gap: var(--space-m);
  aspect-ratio: 1;

  img {
    width: var(--space-2xl-3xl);
    height: var(--space-l-xl);
    object-fit: cover;
  }
}
