.navbar {
  display: flex;
  gap: var(--space-m);
  align-items: center;

  p {
    font-family: var(--font-family);
    font-size: var(--step-0);
    color: var(--secondary-color);

    a {
      text-decoration: none;
    }
  }
}
